B2_ENDPOINT=https://s3.us-west-002.backblazeb2.com
B2_REGION=us-west-002
B2_KEY_ID=your_key_id_here
B2_APP_KEY=your_app_key_here
B2_BUCKET=your-bucket-name
PORT=3000
AUTO_SETUP_CORS=true
# CORS_ORIGIN=http://localhost:3000
# URL_EXPIRY=3600
